---
const currentLang = Astro.currentLocale || "es";
import { useTranslations } from "../i18n/utils";
import { languageList } from "../i18n/ui";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);
---

<section
    id="sobre-mi"
    class="auto-rows-[50px] grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-8 gap-5 sm:grid scroll-mt-40 transition-colors duration-500 ease-in-out"
>
    <!-- 1️⃣ Presentación principal -->
    <div
        class="bento col-span-4 row-span-5 text-left items-start bg-white dark:bg-[#1E1E1E] p-6 rounded-3xl justify-center content-center shadow-xl"
    >
        <h1 class="text-6xl font-bold text-[#1E1E1E] dark:text-white">Juan Manuel Quevedo</h1>
        <h2 class="text-4xl font-semibold text-[#A855F7] te mb-2">
            Frontend Developer
        </h2>
        <p class="text-[#1E1E1E] dark:text-white mb-4">
            {translateLabels('about.description')}
        </p>

        <div class="flex flex-wrap gap-4 justify-between">
            <a
                target="_blank"
                href="https://www.linkedin.com/in/juan-manuel-quevedo-gonzalez-9793b2156/"
                class="flex items-center gap-2 py-2 rounded-md transition duration-300 ease-in-out hover:scale-120 text-[#1E1E1E] dark:text-white"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    ><path
                        fill="#0A66C2"
                        d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                    ></path></svg
                > <span class="hidden sm:block">LinkedIn</span>
            </a>
            <a
                target="_blank"
                href="https://github.com/H1r0t4ka"
                class="flex items-center gap-2 py-2 rounded-md text-sm transition duration-300 ease-in-out hover:scale-120 text-[#1E1E1E] dark:text-white"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 16 16"
                    ><path
                        fill="currentColor"
                        d="M8 0c4.42 0 8 3.58 8 8a8.01 8.01 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38c0-.27.01-1.13.01-2.2c0-.75-.25-1.23-.54-1.48c1.78-.2 3.65-.88 3.65-3.95c0-.88-.31-1.59-.82-2.15c.08-.2.36-1.02-.08-2.12c0 0-.67-.22-2.2.82c-.64-.18-1.32-.27-2-.27s-1.36.09-2 .27c-1.53-1.03-2.2-.82-2.2-.82c-.44 1.1-.16 1.92-.08 2.12c-.51.56-.82 1.28-.82 2.15c0 3.06 1.86 3.75 3.64 3.95c-.23.2-.44.55-.51 1.07c-.46.21-1.61.55-2.33-.66c-.15-.24-.6-.83-1.23-.82c-.67.01-.27.38.01.53c.34.19.73.9.82 1.13c.16.45.68 1.31 2.69.94c0 .67.01 1.3.01 1.49c0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8"
                    ></path></svg
                > <span class="hidden sm:block">Github</span>
            </a>
            <a
                href="mailto:juanm_quevedo@hotmail.com"
                class="flex items-center gap-2 py-2 rounded-md transition duration-300 ease-in-out hover:scale-120 text-[#1E1E1E] dark:text-white"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 28 28"
                    ><path
                        fill="currentColor"
                        d="M2.004 7.75A3.75 3.75 0 0 1 5.754 4H22.25A3.75 3.75 0 0 1 26 7.75v.01l-12 6.147L2.004 7.764zm0 1.699v9.801A3.75 3.75 0 0 0 5.754 23H22.25A3.75 3.75 0 0 0 26 19.25V9.446l-11.658 5.972a.75.75 0 0 1-.684 0z"
                    ></path></svg
                > <span class="hidden sm:block">Email</span>
            </a>
            <a
                href="whatsapp://send?phone=573043776096&text=Hola%20Juan%20Manuel!%20Te%20contacto%20desde%20tu%20portafolio."
                class="flex items-center gap-2 p-2 rounded-lg transition duration-300 ease-in-out hover:scale-120 border-1 border-[#1E1E1E] dark:border-white text-[#1E1E1E] dark:text-white"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    ><path
                        fill="#1FAF38"
                        d="M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28"
                    ></path></svg
                > <span class="hidden sm:block">Whatsapp</span>
            </a>
        </div>
    </div>

    <!-- 2️⃣ Rol -->
    <div
        class="bento col-span-2 row-span-2 text-center bg-white dark:bg-[#1E1E1E] p-6 rounded-3xl justify-center content-center shadow-xl"
    >
        <h3 class="text-sm text-[#1E1E1E] dark:text-white">Web Developer</h3>
        <p class="text-lg font-semibold text-[#1A1A1A] dark:text-white">
            UX/UI<br />Frontend
        </p>
    </div>

    <!-- 3️⃣ País -->
    <div
        class="bento col-span-2 row-span-2 text-center bg-[#FFFFFF] dark:bg-[#1E1E1E] p-6 rounded-3xl justify-center content-center shadow-xl"
    >
        <p class="text-lg font-semibold text-[#1E1E1E] dark:text-white">Colombia</p>
    </div>

    <!-- 4️⃣ Experiencia -->
    <div
        class="bento col-span-4 row-span-4 flex items-center text-center bg-[#FFFFFF] dark:bg-[#1E1E1E] p-6 rounded-3xl justify-center content-center shadow-xl"
    >
        <h2 class="text-6xl font-bold text-[#1E1E1E] dark:text-white">
            {translateLabels('about.experience')}
        </h2>
    </div>

    <!-- 5️⃣ Tecnologías -->
    <div
        class="bento col-span-4 row-span-6 bg-[#FFFFFF] dark:bg-[#1E1E1E] p-6 rounded-3xl justify-center content-center shadow-xl"
    >
        <h3 class="text-gray-900 dark:text-white font-semibold mb-4 text-2xl">{translateLabels('about.tech')}</h3>
        <div class="grid grid-cols-3 place-items-center gap-x-4 gap-y-6">
            <div class="flex flex-col items-center gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    viewBox="0 0 32 32"
                    ><path
                        fill="#e65100"
                        d="m4 4l2 22l10 2l10-2l2-22Zm19.72 7H11.28l.29 3h11.86l-.802 9.335L15.99 25l-6.635-1.646L8.93 19h3.02l.19 2l3.86.77l3.84-.77l.29-4H8.84L8 8h16Z"
                    ></path></svg
                >
                <span>HTML</span>
            </div>
            <div class="flex flex-col items-center gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    viewBox="0 0 32 32"
                    ><path
                        fill="#7e57c2"
                        d="M20 18h-2v-2h-2v2c0 .193 0 .703 1.254 1.033A3.345 3.345 0 0 1 20 22h2v2h2v-2c0-.388-.562-.851-1.254-1.034C20.356 20.34 20 18.84 20 18m-3.254 2.966C14.356 20.34 14 18.84 14 18h-2v-2h-2v8h2v-2h4v2h2v-2c0-.388-.562-.851-1.254-1.034"
                    ></path><path
                        fill="#7e57c2"
                        d="M24 4H4v20a4 4 0 0 0 4 4h16.16A3.84 3.84 0 0 0 28 24.16V8a4 4 0 0 0-4-4m2 14h-2v-2h-2v2c0 .193 0 .703 1.254 1.033A3.345 3.345 0 0 1 26 22v2a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2Z"
                    ></path></svg
                > CSS
            </div>
            <div class="flex flex-col items-center gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    viewBox="0 0 256 256"
                    ><g fill="none"
                        ><rect width="256" height="256" fill="#f0db4f" rx="60"
                        ></rect><path
                            fill="#323330"
                            d="m67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371c7.905 0 12.889-3.092 12.889-15.12v-81.798h24.058v82.138c0 24.917-14.606 36.259-35.916 36.259c-19.245 0-30.416-9.967-36.087-21.996m85.07-2.576l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607c9.969 0 16.325-4.984 16.325-11.858c0-8.248-6.53-11.17-17.528-15.98l-6.013-2.579c-17.357-7.388-28.871-16.668-28.871-36.258c0-18.044 13.748-31.792 35.229-31.792c15.294 0 26.292 5.328 34.196 19.247l-18.731 12.029c-4.125-7.389-8.591-10.31-15.465-10.31c-7.046 0-11.514 4.468-11.514 10.31c0 7.217 4.468 10.139 14.778 14.608l6.014 2.577c20.449 8.765 31.963 17.699 31.963 37.804c0 21.654-17.012 33.51-39.867 33.51c-22.339 0-36.774-10.654-43.819-24.574"
                        ></path></g
                    ></svg
                > JavaScript
            </div>
            <div class="flex flex-col items-center gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    viewBox="0 0 256 228"
                    ><path
                        fill="#00d8ff"
                        d="M210.483 73.824a172 172 0 0 0-8.24-2.597c.465-1.9.893-3.777 1.273-5.621c6.238-30.281 2.16-54.676-11.769-62.708c-13.355-7.7-35.196.329-57.254 19.526a171 171 0 0 0-6.375 5.848a156 156 0 0 0-4.241-3.917C100.759 3.829 77.587-4.822 63.673 3.233C50.33 10.957 46.379 33.89 51.995 62.588a171 171 0 0 0 1.892 8.48c-3.28.932-6.445 1.924-9.474 2.98C17.309 83.498 0 98.307 0 113.668c0 15.865 18.582 31.778 46.812 41.427a146 146 0 0 0 6.921 2.165a168 168 0 0 0-2.01 9.138c-5.354 28.2-1.173 50.591 12.134 58.266c13.744 7.926 36.812-.22 59.273-19.855a146 146 0 0 0 5.342-4.923a168 168 0 0 0 6.92 6.314c21.758 18.722 43.246 26.282 56.54 18.586c13.731-7.949 18.194-32.003 12.4-61.268a145 145 0 0 0-1.535-6.842c1.62-.48 3.21-.974 4.76-1.488c29.348-9.723 48.443-25.443 48.443-41.52c0-15.417-17.868-30.326-45.517-39.844m-6.365 70.984q-2.102.694-4.3 1.345c-3.24-10.257-7.612-21.163-12.963-32.432c5.106-11 9.31-21.767 12.459-31.957c2.619.758 5.16 1.557 7.61 2.4c23.69 8.156 38.14 20.213 38.14 29.504c0 9.896-15.606 22.743-40.946 31.14m-10.514 20.834c2.562 12.94 2.927 24.64 1.23 33.787c-1.524 8.219-4.59 13.698-8.382 15.893c-8.067 4.67-25.32-1.4-43.927-17.412a157 157 0 0 1-6.437-5.87c7.214-7.889 14.423-17.06 21.459-27.246c12.376-1.098 24.068-2.894 34.671-5.345q.785 3.162 1.386 6.193M87.276 214.515c-7.882 2.783-14.16 2.863-17.955.675c-8.075-4.657-11.432-22.636-6.853-46.752a157 157 0 0 1 1.869-8.499c10.486 2.32 22.093 3.988 34.498 4.994c7.084 9.967 14.501 19.128 21.976 27.15a135 135 0 0 1-4.877 4.492c-9.933 8.682-19.886 14.842-28.658 17.94M50.35 144.747c-12.483-4.267-22.792-9.812-29.858-15.863c-6.35-5.437-9.555-10.836-9.555-15.216c0-9.322 13.897-21.212 37.076-29.293c2.813-.98 5.757-1.905 8.812-2.773c3.204 10.42 7.406 21.315 12.477 32.332c-5.137 11.18-9.399 22.249-12.634 32.792a135 135 0 0 1-6.318-1.979m12.378-84.26c-4.811-24.587-1.616-43.134 6.425-47.789c8.564-4.958 27.502 2.111 47.463 19.835a144 144 0 0 1 3.841 3.545c-7.438 7.987-14.787 17.08-21.808 26.988c-12.04 1.116-23.565 2.908-34.161 5.309a160 160 0 0 1-1.76-7.887m110.427 27.268a348 348 0 0 0-7.785-12.803c8.168 1.033 15.994 2.404 23.343 4.08c-2.206 7.072-4.956 14.465-8.193 22.045a381 381 0 0 0-7.365-13.322m-45.032-43.861c5.044 5.465 10.096 11.566 15.065 18.186a322 322 0 0 0-30.257-.006c4.974-6.559 10.069-12.652 15.192-18.18M82.802 87.83a323 323 0 0 0-7.227 13.238c-3.184-7.553-5.909-14.98-8.134-22.152c7.304-1.634 15.093-2.97 23.209-3.984a322 322 0 0 0-7.848 12.897m8.081 65.352c-8.385-.936-16.291-2.203-23.593-3.793c2.26-7.3 5.045-14.885 8.298-22.6a321 321 0 0 0 7.257 13.246c2.594 4.48 5.28 8.868 8.038 13.147m37.542 31.03c-5.184-5.592-10.354-11.779-15.403-18.433c4.902.192 9.899.29 14.978.29c5.218 0 10.376-.117 15.453-.343c-4.985 6.774-10.018 12.97-15.028 18.486m52.198-57.817c3.422 7.8 6.306 15.345 8.596 22.52c-7.422 1.694-15.436 3.058-23.88 4.071a382 382 0 0 0 7.859-13.026a347 347 0 0 0 7.425-13.565m-16.898 8.101a359 359 0 0 1-12.281 19.815a329 329 0 0 1-23.444.823c-7.967 0-15.716-.248-23.178-.732a310 310 0 0 1-12.513-19.846h.001a307 307 0 0 1-10.923-20.627a310 310 0 0 1 10.89-20.637l-.001.001a307 307 0 0 1 12.413-19.761c7.613-.576 15.42-.876 23.31-.876H128c7.926 0 15.743.303 23.354.883a329 329 0 0 1 12.335 19.695a359 359 0 0 1 11.036 20.54a330 330 0 0 1-11 20.722m22.56-122.124c8.572 4.944 11.906 24.881 6.52 51.026q-.518 2.504-1.15 5.09c-10.622-2.452-22.155-4.275-34.23-5.408c-7.034-10.017-14.323-19.124-21.64-27.008a161 161 0 0 1 5.888-5.4c18.9-16.447 36.564-22.941 44.612-18.3M128 90.808c12.625 0 22.86 10.235 22.86 22.86s-10.235 22.86-22.86 22.86s-22.86-10.235-22.86-22.86s10.235-22.86 22.86-22.86"
                    ></path></svg
                > React
            </div>
            <div class="flex flex-col items-center gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    viewBox="0 0 128 128"
                    ><path
                        fill="#38bdf8"
                        d="M64.004 25.602c-17.067 0-27.73 8.53-32 25.597c6.398-8.531 13.867-11.73 22.398-9.597c4.871 1.214 8.352 4.746 12.207 8.66C72.883 56.629 80.145 64 96.004 64c17.066 0 27.73-8.531 32-25.602q-9.6 12.803-22.399 9.602c-4.87-1.215-8.347-4.746-12.207-8.66c-6.27-6.367-13.53-13.738-29.394-13.738M32.004 64c-17.066 0-27.73 8.531-32 25.602Q9.603 76.799 22.402 80c4.871 1.215 8.352 4.746 12.207 8.66c6.274 6.367 13.536 13.738 29.395 13.738c17.066 0 27.73-8.53 32-25.597q-9.6 12.797-22.399 9.597c-4.87-1.214-8.347-4.746-12.207-8.66C55.128 71.371 47.868 64 32.004 64m0 0"
                    ></path></svg
                > Tailwind
            </div>
            <div class="flex flex-col items-center gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    viewBox="0 0 32 32"
                    ><path
                        fill="#f4511e"
                        d="M12 4h4v8h-4a4 4 0 0 1-4-4a4 4 0 0 1 4-4"
                    ></path><path
                        fill="#ff8a65"
                        d="M20 12h-4V4h4a4 4 0 0 1 4 4a4 4 0 0 1-4 4"
                    ></path><rect
                        width="8"
                        height="8"
                        x="16"
                        y="12"
                        fill="#29b6f6"
                        rx="4"
                        transform="rotate(180 20 16)"></rect><path
                        fill="#7c4dff"
                        d="M12 12h4v8h-4a4 4 0 0 1-4-4a4 4 0 0 1 4-4"
                    ></path><path
                        fill="#00e676"
                        d="M12 20h4v4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4"
                    ></path></svg
                > Figma
            </div>
            <div class="flex flex-col items-center gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    viewBox="0 0 128 128"
                    ><defs
                        ><linearGradient
                            id="SVGWGe9Jdbv"
                            x1="882.997"
                            x2="638.955"
                            y1="27.113"
                            y2="866.902"
                            gradientTransform="scale(.1)"
                            gradientUnits="userSpaceOnUse"
                            ><stop offset="0" stop-color="#000014"></stop><stop
                                offset="1"
                                stop-color="#150426"></stop></linearGradient
                        ><linearGradient
                            id="SVGGmCt8clO"
                            x1="1001.68"
                            x2="790.326"
                            y1="652.45"
                            y2="1094.91"
                            gradientTransform="scale(.1)"
                            gradientUnits="userSpaceOnUse"
                            ><stop offset="0" stop-color="#ff1639"></stop><stop
                                offset="1"
                                stop-color="#ff1639"
                                stop-opacity="0"></stop></linearGradient
                        ></defs
                    ><path
                        fill="url(#SVGWGe9Jdbv)"
                        d="M81.504 9.465c.973 1.207 1.469 2.836 2.457 6.09l21.656 71.136a90 90 0 0 0-25.89-8.765L65.629 30.28a1.833 1.833 0 0 0-3.52.004L48.18 77.902a90.1 90.1 0 0 0-26.003 8.778l21.758-71.14c.996-3.25 1.492-4.876 2.464-6.083a8 8 0 0 1 3.243-2.398c1.433-.575 3.136-.575 6.535-.575H71.72c3.402 0 5.105 0 6.543.579a8 8 0 0 1 3.242 2.402Zm0 0"
                    ></path><path
                        fill="#ff5d01"
                        d="M84.094 90.074c-3.57 3.055-10.696 5.137-18.903 5.137c-10.07 0-18.515-3.137-20.754-7.356c-.8 2.418-.98 5.184-.98 6.954c0 0-.527 8.675 5.508 14.71a5.67 5.67 0 0 1 5.672-5.671c5.37 0 5.367 4.683 5.363 8.488v.336c0 5.773 3.527 10.719 8.543 12.805a11.6 11.6 0 0 1-1.172-5.098c0-5.508 3.23-7.555 6.988-9.938c2.989-1.894 6.309-4 8.594-8.222a15.5 15.5 0 0 0 1.875-7.41a15.6 15.6 0 0 0-.734-4.735m0 0"
                    ></path><path
                        fill="url(#SVGGmCt8clO)"
                        d="M84.094 90.074c-3.57 3.055-10.696 5.137-18.903 5.137c-10.07 0-18.515-3.137-20.754-7.356c-.8 2.418-.98 5.184-.98 6.954c0 0-.527 8.675 5.508 14.71a5.67 5.67 0 0 1 5.672-5.671c5.37 0 5.367 4.683 5.363 8.488v.336c0 5.773 3.527 10.719 8.543 12.805a11.6 11.6 0 0 1-1.172-5.098c0-5.508 3.23-7.555 6.988-9.938c2.989-1.894 6.309-4 8.594-8.222a15.5 15.5 0 0 0 1.875-7.41a15.6 15.6 0 0 0-.734-4.735m0 0"
                    ></path></svg
                > Astro
            </div>
            <div class="flex flex-col items-center gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    viewBox="0 0 128 128"
                    ><path
                        fill="#3fb6d3"
                        d="M12.3 64.2L76.3 0h39.4L32.1 83.6zm64 63.8h39.4L81.6 93.9l34.1-34.8H76.3L42.2 93.5z"
                    ></path><path
                        fill="#27aacd"
                        d="m81.6 93.9l-20-20l-19.4 19.6l19.4 19.6z"></path><path
                        fill="#19599a"
                        d="M115.7 128L81.6 93.9l-20 19.2L76.3 128z"
                    ></path><linearGradient
                        id="SVGdJDW8cHD"
                        x1="59.365"
                        x2="86.825"
                        y1="116.36"
                        y2="99.399"
                        gradientUnits="userSpaceOnUse"
                        ><stop offset="0" stop-color="#1b4e94"></stop><stop
                            offset=".63"
                            stop-color="#1a5497"></stop><stop
                            offset="1"
                            stop-color="#195a9b"></stop></linearGradient
                    ><path
                        fill="url(#SVGdJDW8cHD)"
                        d="m61.6 113.1l30.8-8.4l-10.8-10.8z"></path></svg
                > Flutter
            </div>
            <div class="flex flex-col items-center gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="35"
                    height="35"
                    viewBox="0 0 256 256"
                    ><g fill="none"
                        ><rect width="256" height="256" fill="#0073aa" rx="60"
                        ></rect><path
                            fill="#fff"
                            d="M42.214 127.994c0 33.955 19.733 63.299 48.347 77.205L49.641 93.083a85.5 85.5 0 0 0-7.427 34.911m143.694-4.329c0-10.601-3.808-17.943-7.074-23.658c-4.349-7.066-8.425-13.05-8.425-20.116c0-7.886 5.981-15.226 14.405-15.226c.381 0 .741.047 1.112.068c-15.262-13.982-35.595-22.519-57.929-22.519c-29.968 0-56.335 15.376-71.673 38.666c2.012.06 3.909.103 5.52.103c8.973 0 22.862-1.09 22.862-1.09c4.624-.272 5.17 6.52.55 7.067c0 0-4.647.547-9.818.818l31.238 92.918l18.773-56.303l-13.365-36.618c-4.619-.271-8.995-.818-8.995-.818c-4.623-.271-4.081-7.339.542-7.066c0 0 14.166 1.088 22.595 1.088c8.972 0 22.862-1.088 22.862-1.088c4.628-.273 5.171 6.519.55 7.066c0 0-4.657.547-9.818.818l31.001 92.214l8.556-28.592c3.709-11.866 6.531-20.388 6.531-27.732"
                        ></path><path
                            fill="#fff"
                            d="m129.503 135.498l-25.738 74.79a85.8 85.8 0 0 0 24.233 3.495a85.7 85.7 0 0 0 28.486-4.863a7.5 7.5 0 0 1-.61-1.182zm73.766-48.66a66 66 0 0 1 .578 8.82c0 8.705-1.626 18.491-6.523 30.727l-26.203 75.759c25.503-14.872 42.657-42.501 42.657-74.148c.001-14.915-3.808-28.94-10.509-41.158"
                        ></path><path
                            fill="#fff"
                            d="M127.998 28C72.86 28 28 72.857 28 127.994c0 55.144 44.86 99.999 99.998 99.999c55.135 0 100.002-44.855 100.002-99.999C227.998 72.857 183.133 28 127.998 28m0 195.41c-52.61 0-95.413-42.804-95.413-95.416c0-52.609 42.802-95.409 95.413-95.409c52.607 0 95.407 42.8 95.407 95.409c0 52.612-42.8 95.416-95.407 95.416"
                        ></path></g
                    ></svg
                > WordPress
            </div>
        </div>
    </div>

    <!-- 6️⃣ Sitios creados -->
    <div
        class="bento col-span-4 row-span-5 flex items-center justify-center bg-[#FFFFFF] dark:bg-[#1E1E1E] p-6 rounded-3xl shadow-xl"
    >
        <h2 class="text-6xl font-bold text-gray-900 dark:text-white">{translateLabels('about.projects')}</h2>
    </div>
</section>
