<header class="flex justify-between items-center py-3">
    <div class="flex items-center gap-3">
        <img
            class="rounded-full w-12 h-12"
            src="./src/assets/me.jpg"
            alt="Profile picture"
        />
        <p class="">Juan Manuel Quevedo Gonzalez</p>
    </div>

    <nav class="flex flex-row gap-8">
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#trabajos">Trabajos</a>
        <a href="#proyectos">Proyectos</a>
    </nav>

    <div>
        <button>Idioma</button>
        <button>Modo</button>
    </div>
</header>
